body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  max-height: 100%;
  overflow: 'hidden';
}

body #root {
  overflow-y: auto;
  color: white;
}

div.truncate div.text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
